.about-word{
    text-align: left !important;
}

.title-holder{
    text-align: center;
    margin-bottom: 40px;
}

.progress-content{
    margin-top: 40px;
}

#about{
    padding-top: 70px;
    padding-bottom: 60px;
}