.contact-info{
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.icons-list{
    display: flex !important;
    align-items: center;
    justify-content: center;
    list-style: none !important;
} 

.contact-icon{
    padding: 0 100px;
}