#testimonials{
    padding-top: 70px;
    padding-bottom: 50px;
    background-image: url('./images/dark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.name-manager{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.carousel-indicators [data-bs-target] {
    display: none;
}